.c-back-btn {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-size: var(--size-s);
  padding-bottom: 1rem;
  width: 100%;
}

.c-main-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #021526;
  text-align: center;
  font-family: "Roboto";
  font-size: var(--size-l);
  font-style: normal;
  font-weight: 700;
  padding-bottom: 3rem;
}

.c-line-progress {
  display: flex;
  width: 100%;

  .c-line-container {
    display: flex;
    width: 100%;

    .c-line-black-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      width: 100%;

      .c-line-text {
        display: flex;
        color: #000;
        font-family: "Roboto";
        font-size: var(--size-m);
        font-style: normal;
        font-weight: 500;
        padding-bottom: 1rem;
      }

      .c-line-dobbel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        width: 100%;

        .c-line-black {
          display: flex;
          justify-content: end;
          align-items: center;
          border-bottom: 3px solid black;
          flex: 1 1 auto;
          width: 100%;
          position: relative;

          .c-dot-black {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #000;
            right: -8px;
          }
        }

        .c-line-filler {
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid rgb(170, 169, 169);
          width: 100%;
          flex: 1 1 auto;
        }
      }
    }

    .c-line-grey-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      width: 100%;

      .c-line-text {
        display: flex;
        color: rgb(170, 169, 169);
        font-family: "Roboto";
        font-size: var(--size-m);
        font-style: normal;
        font-weight: 500;
        padding-bottom: 1rem;
      }

      .c-line-grey {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(170, 169, 169);
        width: 100%;
        position: relative;

        .c-dot-grey {
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-color: rgb(170, 169, 169);
        }
      }
    }
  }
}

.c-shipping-summary-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.c-shipping-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.c-shipping-header-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  justify-content: center;

  .c-shipping-header {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    font-size: var(--size-l);
    font-weight: 600;
  }
}

.c-email-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0rem 0rem 1.5rem 0rem;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

.c-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3.5rem;
}

.c-input {
  position: relative;
  display: flex;
  width: 100%;
}

input#input {
  position: absolute;
  width: 100%;
  outline: none;
  height: 45px;
  font-size: 1.5em;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  font-size: var(--size-s);
}

.c-label {
  display: flex;
  transform: translate(15px, -10px);
  background-color: white;
  padding: 0 0.5rem;
}

.c-city-zip-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.c-text-create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-address-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 3.5rem;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

.c-shipping-method-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3.5rem;

  .c-method-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1.5rem;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
  }

  .c-method-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem 1rem;

    .c-method-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .c-check-container {
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex: 1 1 auto;
        gap: 2rem;

        input#delivery {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 25px;
          height: 25px;
          max-width: 45px;
          max-height: 45px;
          cursor: pointer;
        }
      }

      .c-delivery-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        flex: 3 1 auto;

        .c-text-top {
          display: flex;
          color: #021526;
          font-family: "Roboto";
          font-size: var(--size-xs);
          font-style: normal;
          font-weight: 400;
        }

        .c-text-bottom {
          display: flex;
          color: #858383;
          font-family: "Roboto";
          font-size: var(--size-xxs);
          font-style: normal;
          font-weight: 400;
        }
      }

      .c-delivery-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        flex: 1 1 auto;
        color: #021526;
        font-family: "Roboto";
        font-size: var(--size-m);
        font-weight: 400;
      }
    }
  }
}

.c-summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.c-express-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.c-express-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--size-m);
  font-weight: 600;
}

.c-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}

.c-summary-header {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding: 1.5rem 0rem;
}

.c-summary-line {
  display: flex;
  width: 100%;
  border-top: 2px solid #d9d9d9;
}

.c-under-line-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size-s);
  padding: 24px 0px;
}

.c-container-item {
  display: flex;
  font-weight: 600;
}

.c-under-line-container .c-container {
  display: flex;
  color: #a3a3a3;
  cursor: pointer;
}

.c-summary-produckt-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.c-checkoutProducts-cont {
  display: flex;
  flex-direction: row;
  max-height: auto;
  width: auto;
}

.c-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-checkoutProducts-img {
  max-width: 100px;
  height: auto;
}

.c-checkoutProduct-info {
  display: flex;
  width: 100%;
}

.c-subtotal-container {
  display: flex;
  justify-content: space-between;
  color: #a3a3a3;
  align-items: center;
  text-align: center;
  font-size: var(--size-s);
  font-weight: 400;
  padding: 1rem 0rem;
}

.c-ordertotal-container {
  display: flex;
  justify-content: space-between;
  color: #021526;
  align-items: center;
  text-align: center;
  font-size: var(--size-m);
  font-weight: 600;
  padding: 1rem 0rem;
}

.c-btn-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

input#submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: black;
  font-size: var(--size-m);
  font-weight: 500;
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
  text-decoration: none;
}

input#submit:hover {
  background-color: rgb(20, 19, 19);
}

@media only screen and (width>600px) {
  .c-main-header {
    font-size: var(--size-xxl);
  }

  .c-summary-produckt-container {
    flex-wrap: nowrap;
    flex-direction: row;

    .c-img-container img {
      max-width: 200px;
    }
  }

  .c-city-zip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .c-express-text {
    font-size: var(--size-l);
  }

  input#submit {
    padding: 1.2rem 3rem;
  }
}

@media only screen and (width>999px) {
  .c-shipping-header-container {
    align-items: start;
    justify-content: center;
  }

  .c-shipping-summary-container {
    flex-direction: row;
    justify-content: space-between;

    .c-shipping-container {
      max-width: 50%;
    }

    .c-summary {
      max-width: 50%;
    }
  }

  input#submit {
    padding: 1.2rem 5rem;
  }
}
