/* Product template */

.products-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.c-productDetails-preview-details {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid black;
  padding: 1rem 1rem;
}

.c-productDetails-preview-image {
  width: 100%;
}

.c-productDetails-preview-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width>600px) {
    padding-left: 2rem;
  }
}

.c-productDetails-preview-title {
  display: flex;
  justify-content: start;
  padding-top: 1rem;

  @media (width>600px) {
    padding-top: 0px;
  }
}

.c-productDetails-preview-title a {
  color: black;
}

.c-productDetails-preview-price {
  display: flex;
  font-weight: bold;
  justify-content: start;
  color: brown;
}

.c-size {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.c-form-size {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 0.5rem;

  @media (width>600px) {
    justify-content: start;
    align-items: start;
  }
}

.c-filter-size-box {
  display: flex;
  text-align: center;
  padding: 0.5rem 5%;
}

.c-productDetails-add-to-cart {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--color-blue);
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--size-xxs);
  color: var(--bg-color-white);
}

.c-productDetails-add-to-cart:hover {
  background-color: var(--btn-color-hover);
}

.c-ordering-info-container {
  display: flex;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(231, 231, 231);
  border-radius: 7px;
  height: 130px;
}

.c-ordering-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  row-gap: 0.5rem;
}

@media screen and (width > 600px) {
  .c-productDetails-preview-details {
    flex-direction: row;
    width: 850px;
    gap: 1rem;
  }

  .c-productDetails-preview-image {
    width: 50%;
  }

  .c-productDetails-preview-info {
    width: 50%;
  }

  .c-productDetails-preview-title {
    justify-content: flex-start;
    text-align: start;
  }

  .c-productDetails-preview-price {
    justify-content: start;
    font-size: var(--size-m);
  }

  .c-size {
    padding-top: 5rem;
  }

  .c-filter-size-box {
    width: 210px;
  }

  .c-productDetails-add-to-cart {
    width: 210px;
  }

  .c-ordering-info-container {
    max-width: 320px;
  }
}
