/* imports */
@import "./product-details.css";
@import "./skeletonTemplate.css";
@import "./productsTemplate.css";
@import "./cart.css";
@import "./card-option.css";
@import "./confirmation.css";
@import "./card.css";
@import "./checkout.css";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap");

/* Global Resets*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 100%;
  font-family: "Roboto";
  margin: 0;
}

:root {
  --size-xxs: 14px;
  --size-xs: 16px;
  --size-s: 18px;
  --size-m: 20px;
  --size-l: 25px;
  --size-xl: 30px;
  --size-xxl: 35px;
  --size-huge: 64px;

  --color-blue: #136797;
  --color-black: #050505;

  --skeleton-color: #6a6868;

  --color-menu-cart: #202122;

  --btn-color: rgb(61, 59, 58);
  --btn-color-hover: #0c4c71;

  --bg-nav-foot: linear-gradient(#000000, #3a4144);
  --bg-color-white: white;
  --bg-color-black: #050505;

  --padding-section-no-top: 0rem 30px 2rem 30px;
  --padding-section-with-top: 2rem 30px 2rem 30px;
  --padding-section-bottom: 0rem 0px 2rem 0px;
  --padding-hero: 2rem 0px 2rem 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 72%);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 33%);
  border-radius: 100vh;
}

/*imp! HEADER */

.l-header {
  background-image: var(--bg-nav-foot);
  position: fixed;
  width: 100%;
  z-index: 200;
}

.c-navbar {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.c-navbar a {
  color: var(--bg-color-white);
  text-decoration: none;
}

.c-brand-name {
  display: flex;
  font-size: 1.5rem;
}

.c-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.c-nav-link {
  transition: 0.3s ease;
}

.c-nav-link:hover {
  color: var(--btn-color-hover);
}

.c-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-m);
  cursor: pointer;
}

.c-cart-icon-btn {
  display: flex;
}

.c-hamburger {
  display: none;
}

.c-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-color-white);
}

@media only screen and (width < 600px) {
  .c-nav-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .c-hamburger {
    display: block;
    cursor: pointer;
  }

  .c-hamburger.active .c-bar:nth-child(2) {
    opacity: 0;
  }

  .c-hamburger.active .c-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .c-hamburger.active .c-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .c-nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-menu-cart);
    width: 100%;
    text-align: center;
    transition: 0.6s;
  }

  .c-nav-item {
    margin: 16px 0px;
  }

  .c-nav-menu.active {
    right: 0px;
  }
}

/* main */

.l-main {
  font-family: "Roboto";
  padding: 70px 6% 0% 6%;
}

.l-filterby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.c-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-hero);
  width: 100%;
}

.c-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--padding-section-bottom);
  flex-wrap: wrap;
  width: 100%;
}

.c-filters .c-h2 {
  width: 100%;
  justify-content: center;
}

.c-sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.c-filterby-text {
  display: flex;
}

.c-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.c-filter-box {
  display: flex;
  text-align: start;
  padding: 0.5rem 5%;
}

@media only screen and (width > 600px) {
  .c-sorting {
    justify-content: baseline;
  }
}

/* FOOTER */

.l-footer {
  background-image: var(--bg-nav-foot);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 30px 2rem 30px;
}

.c-icon-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: var(--size-l);
  padding: 1rem 0rem 1rem 0rem;
}

.c-copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
}

/* UNIVERSAL SIZES */

@media only screen and (width>0px) {
  .c-h1 {
    display: flex;
    justify-content: center;
    font-size: var(--size-l);
    padding-bottom: 0.5rem;
    font-weight: bold;
    width: 100%;
  }

  .c-h2 {
    display: flex;
    font-size: var(--size-s);
    font-family: Cinzel;
    font-weight: bold;
    color: var(--bg-color-black);
    padding-bottom: 1rem;
    width: 100%;
  }

  .c-h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: var(--size-xs);
    font-family: Cinzel;
    font-weight: bold;
    color: var(--color-blue);
    width: 100%;
  }

  .c-under-text {
    font-size: var(--size-s);
    width: 100%;
  }

  .c-text {
    font-size: var(--size-xs);
  }

  .c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .c-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: var(--size-s);
    padding: 0.5rem 1.5rem;
  }

  .c-btn a:hover {
    background-color: var(--btn-color-hover);
  }

  input#submit {
    font-size: var(--size-s);
    padding: 1rem 2rem;
  }
}

@media only screen and (width>600px) {
  .c-h1 {
    font-size: var(--size-xl);
  }

  .c-h2 {
    font-size: var(--size-m);
  }

  .c-h3 {
    font-size: var(--size-s);
  }

  .c-under-text {
    font-size: var(--size-m);
  }

  .c-btn-explore {
    font-size: var(--size-m);
    padding: 0.75rem 1.75rem;
  }
  .c-btn-exhibits a {
    font-size: var(--size-m);
    padding: 0.75rem 1.75rem;
  }

  input#submit {
    font-size: var(--size-m);
  }
}

@media only screen and (width>1000px) {
  .c-h1 {
    font-size: var(--size-xxl);
  }

  .c-h2 {
    font-size: var(--size-l);
  }

  .c-under-text {
    font-size: var(--size-l);
  }

  .c-btn-explore {
    font-size: var(--size-l);
    padding: 1rem 2rem;
  }
}
